<div class="auth-wrapper">
  <div class="auth-card-stack">
    <div class="auth-card">
      <h2 class="mb-4 text-center">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: true,
                      hint: (@minimum_password_length ? "<span style='color: rgba(255, 255, 255, 0.5)'>#{@minimum_password_length} characters minimum</span>".html_safe : nil),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
           <%= f.input :country, collection:  [["Stay anonymous", nil]] + ISO3166::Country.all.map { |c| [c.iso_short_name, c.alpha2] }, label: "Country" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-neon w-100 mt-2" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
