<div class="container my-4">

  <% filter_colors = { "economy" => "#03C988", "politics" => "#FF204E", "social" => "#FFC193", "france" => "#0055A4", "law" => "#FFA500", "global" => "#4635B1" } %>

  <div class="d-flex gap-2 mb-2 flex-wrap">
    <%= link_to "All", polls_path, class: "badge text-decoration-none", style: "background-color: #{params[:category].nil? && params[:country].nil? ? '#534AB7' : '#1a1a2e'}; color: white; border: 1px solid #534AB7;" %>
    <%= link_to "Economy", polls_path(category: "economy"), class: "badge text-decoration-none", style: "background-color: #{params[:category] == 'economy' ? '#03C988' : '#1a1a2e'}; color: #{params[:category] == 'economy' ? '#000957' : 'white'}; border: 1px solid #03C988;" %>
    <%= link_to "Politics", polls_path(category: "politics"), class: "badge text-decoration-none", style: "background-color: #{params[:category] == 'politics' ? '#FF204E' : '#1a1a2e'}; color: white; border: 1px solid #FF204E;" %>
    <%= link_to "Law", polls_path(category: "law"), class: "badge text-decoration-none", style: "background-color:
  #{params[:category] == 'law' ? '#FFA500' : '#1a1a2e'}; color: white; border: 1px solid #FFA500;" %>
    <%= link_to "Social", polls_path(category: "social"), class: "badge text-decoration-none", style: "background-color: #{params[:category] == 'social' ? '#FFC193' : '#1a1a2e'}; color: #{params[:category] == 'social' ? '#000957' : 'white'}; border: 1px solid #FFC193;" %>
    <%= link_to "Global", polls_path(country: "global"), class: "badge text-decoration-none", style: "background-color: #{params[:country] == 'global' ? '#4635B1' : '#1a1a2e'}; color: white; border: 1px solid 
     #4635B1;" %>
  </div>
    <div class="dropdown mb-2 w-auto">
    <button class="badge dropdown-toggle text-decoration-none border-0 w-auto"
            data-bs-toggle="dropdown"
            style="background-color: <%= params[:country].present? && params[:country] != 'global' ? '#0055A4' : '#1a1a2e' %>; color: white; border: 1px solid #0055A4 !important;">
      <%= params[:country].present? && params[:country] != 'global' ? ISO3166::Country[params[:country]]&.iso_short_name : "Country" %>
    </button>
    <ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto; background-color: #1a1a2e; width: 200px">
      <%= content_tag :li, link_to("All countries", polls_path(category: params[:category]), class: "dropdown-item text-white") %>
      <% ISO3166::Country.all.sort_by(&:iso_short_name).each do |c| %>
        <%= content_tag :li, link_to(c.iso_short_name, polls_path(country: c.alpha2, category: params[:category]), class: "dropdown-item text-white") %>
      <% end %>
    </ul>
  </div>


  <% @polls.each do |poll| %>
    <%= render "poll", poll: poll, user_vote: @user_votes&.[](poll.id) %>
  <% end %>
</div>
