<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "World Census" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="World Census">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons@7.2.3/css/flag-icons.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>
  <body data-current-user-id="<%= current_user&.id %>">
    <% if !current_page?(root_path) || user_signed_in? %>
    <%= render "shared/topbar" %>
    <% end %>
    <% if notice %>
      <div class="alert alert-info alert-dismissible fade show m-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show m-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= alert %>
      </div>
    <% end %>

    <div style="min-height: calc(100vh - 120px);">
      <%= yield %>
    </div>


    <%= render "shared/navbar" %>
    <%= yield :scripts %>
  </body>
</html>
