<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "World Census" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="World Census">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% unless current_page?(root_path) %>
    <%= render "shared/topbar" %>
    <% end %>
    <% if notice %>
      <div class="alert alert-info alert-dismissible fade show m-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show m-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= alert %>
      </div>
    <% end %>

    <div style="min-height: calc(100vh - 120px);">
      <%= yield %>
    </div>


    <nav class="fixed-bottom d-flex" style="background-color: #211951; z-index: 999;">
      <%= link_to polls_path, class: "flex-fill d-flex flex-column align-items-center py-2 text-decoration-none text-white" do %>
        <i class="fa-solid fa-square-poll-vertical fs-5"></i>
        <span style="font-size: 10px;">Polls</span>
      <% end %>
      <%= link_to new_poll_path, class: "flex-fill d-flex flex-column align-items-center py-2 text-decoration-none text-white" do %>
        <i class="fa-solid fa-plus fs-5"></i>
        <span style="font-size: 10px;">Add</span>
      <% end %>
      <%= link_to new_conversation_path, class: "flex-fill d-flex flex-column align-items-center py-2 text-decoration-none text-white" do %>
        <i class="fa-solid fa-robot fs-5"></i>
        <span style="font-size: 10px;">AI</span>
      <% end %>
    </nav>
  </body>
</html>
